body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  background: black;
}

.navbar {
  padding: 1rem;
}

.nav-logo {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.home-container {
  text-align: center;
  padding: 2rem;
}

.search-box {
  padding: 0.5rem 1rem;
  width: 250px;
  margin-bottom: 1.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.card {
  background: white;
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100px;
  height: 100px;
}
